@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Homemade+Apple&family=Satisfy&display=swap');

/* Reseteo CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fin reseteo CSS */


/* Estilos genericos */
body {
    font-family:'Segoe UI', Tahoma, sans-serif;
}

p {
    color:#464141;
    text-align: center;
}

.encabezado {
    font-size: 3.5rem;
}
/* Fin Estilos genericos */


/* Home */

.encabezadoIndex {
    font-size: 5rem;
    text-shadow: -4px 3px 0 #987d97;

}

/* Fin Home */

/* Reseñas */


.floatCard:hover {
    box-shadow: 0 8px 10px 0 rgba(141, 101, 192, 0.5);
    transform: scale(1.1,1.1);
}

::-webkit-scrollbar {
    /* width: 10px; */
    margin: 200px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(230, 230, 230); 
}
 
::-webkit-scrollbar-thumb {
  background: #ae99b7; 
}
  
::-webkit-scrollbar-thumb:hover {
  background: #90789b; 
}

/* Fin Reseña*/


/* Servicios*/

.servicesList{
    display: flex;
    justify-content: center;
}


.servicesList__item{
    margin: 1rem 0.5rem;
}

.card-title{
    background-color: rgba(170, 141, 179, 0.5);
    text-align: center;
}

.card__text {
    text-align: center;
}

.servicioImages {
    justify-content:center;
    display: flex;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.imageList__item {
    height: 300px;
    width: 500px;
}

@media only screen and (max-width:600px){
    .imageList {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas: "box1" "box2" "box3" ;
        justify-items:center;
    }

    .encabezado, .encabezadoIndex {
        font-size: 1.5rem;
        text-align: center;
    }

    .imageList__item {
        height: auto;
        width: 100%;
    }
}

@media only screen and (min-width:600px) and (max-width:1024px){
    .imageList {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas: "box1" "box2" "box3";
        justify-items:center;

    }
    .encabezado {
        font-size: 3.5rem;
        text-align: center;
    }
}

@media only screen and (min-width:1000px) and (max-width:1610px){
    .imageList__item {
        height: 200px;
        width: 300px;
    }
}

.backImage {
    width: 100%;
    background-image: url("https://images.pexels.com/photos/2911521/pexels-photo-2911521.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
/* Fin Servicios*/
